.card-cover {
    width: 100%;
    height: 100%;
    position: relative;
    .card-trigger{
        width: 100%;
        height: 100%;
        &:hover {
            .card-hover-wrap {
            visibility: visible;
            }
        }
        .card-hover-wrap {
            width: fit-content;
            position: absolute;
            visibility: hidden;
            transition: all .3s ease, visibility 0s;
            .content-cover {
                padding: 0 5px;
            }
        }
    }
   
}
.card-wrap:has(.card-trigger:hover) {
    z-index: 101 !important;
}